.top-links {
  text-align: center;
  padding: 16px 0;

  a {
    text-decoration: none;
    color: #0099ff;
    margin-left: 32px;

    &.active {
      color: black;
      cursor: default;
    }
  }
}

.c-dashboard {
  margin: 8px 16px;

  .c-dashboard__header {
    display: flex;
    justify-content: center;
  }

  .c-dashboard__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-filters__container {
  margin: 0 0 8px;
  padding: 16px 8px;
  border: 1px solid #dcdee3;
  background-color: #e5e9f1;
  text-align: center;

  .c-filters {
    display: flex;
    justify-content: center;
    align-items: center;

    .c-filters__main-input {
      .c-input {
        border-radius: 3px;
        border: 2px solid #555;
        padding: 5px;

        &:focus-visible,&:focus {
          border-color: #0099ff;
        }
      }
    }
    .c-filters__main-clear {
      margin-inline-start: 10px;
      .c-button {
        min-width: 90px;
      }
    }
  }
}

.c-chart__container {
  height: 350px;
  width: 760px;
}

.c-button {
  height: 40px;
  background-color: #0099ff;
  color: white;
  min-width: 120px;
  padding: 0 16px;
  border-radius: 4px;
}
